.Button{
    background-color: white;
    width: 100%;
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
}
.textButton{
    font-size: 12px;
    margin: 0;
    font-weight: 700;
    color: #556476;
    margin-right: 7px;
}

.ButtonDelete{
    background-color: #D20200;
}
.textDelete{
    color: #fff;
}