.ModalListaPontos {
  position: absolute;
  width: 30%;
  max-width: 340px;
  top: 5%;
  left: 2%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 8px 8px 10px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 8px 8px 10px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 8px 8px 10px -3px rgba(0, 0, 0, 0.3);
  z-index: 700;
}

.titleList {
  background-color: #20252b;
  color: white;
  margin: 0;
  padding: 10px 0px;
  font-size: 12px;
  font-weight: bold;
}
.MsgListEmpity {
  font-size: 12px;
  width: 60%;
  margin: 15px auto;
}

.cardMark{
  width: 100%;
  cursor: pointer;
  padding: 10px 20px;
  text-align: start;
  border: none;
  border-top: 1px solid gainsboro;
}
.cardMark:hover{
  background-color: white;
  transition: 0.5s;
}
.cardMark:last-child{
  padding-bottom: 10px;
}
.HeaderCard{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.HeaderCard > img{
  margin-right: 10px;
}
.TitleCard{
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
.captionCard{
  font-size: 12px;
  margin: 0;
}
